
{{!-- Search for a book --}}

<div>

  {{!-- hero img --}}
  <img class="heroimg"
    src="https://images.pexels.com/photos/7470111/pexels-photo-7470111.jpeg?cs=srgb&dl=pexels-beyza-7470111.jpg&fm=jpg&_gl=1*1e5268e*_ga*ODY5NDU4MDMxLjE2NjgzNjU0MTY.*_ga_8JE65Q40S6*MTY2ODM3MjE3Ny4yLjAuMTY2ODM3MjE3Ny4wLjAuMA..">

  {{!-- subtitle and paragraph --}}
  <h2 class="subtitle">
    <a href="/">Find the perfect pairing for your current read!</a>
  </h2>
  <p class="subtitle-p">Custom book and drink recommendations
    <br>to bring you the ultimate reading experience!
  </p>

  {{!-- get books search input and button --}}
  <div class="inputplacement">
    <input class="getbooksinput" id="input" placeholder="Search for a title...">
    <button class="getbooks" id="searchBtn">Get Books</button>
    <div class="output" id="output"></div>
  </div>

</div>

<script src="/js/index.js"></script>

<!-- Loop over each object in the projects array -->
{{#each projects as |project| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      {{{get_emoji}}}
      <a href="/project/{{project.id}}">{{project.name}}</a>
    </h2>
    <p>
      <span for="img" aria-label="money">💲</span>
      <!-- Pass needed_funding value to the helper function -->
      <span class="dollar-amount">{{format_amount project.needed_funding}}</span>
      needed!
    </p>
    <p>Created by {{project.user.name}} on {{format_date project.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{project.description}}
    </p>
  </div>
</div>
{{/each}}

