
<div class="row">
  <div class="col-auto">
    <h1>Welcome to your Book Shelf!</h1>
  </div>
</div>

<section>
  <div class="row mt-4">
    <div class="col-md-6">
      <h3>Favorite Books and Drinks</h3>

      <div class="book-card">
         {{#each books as |book|}}
        <p>{{book.book_title}}</p>
        <p>{{book.description}}</p>
        {{/each}}
      </div>
      <section class="card">
  <a href="/drink/{{id}}">
    <header>{{name}}</header>

    <div class="card-body">
      <img src="/images/{{filename}}" alt="{{description}}">
      <p>{{description}}</p>
    </div>
  </a>
</section>

</section>

<section>
<form class="form new-book-form">
  <div class="form-group">
    <label for="book-title">Book Title:</label>
    <input class="form-input" type="text" id="book-title" name="book-title" placeholder="How the Grinch Stole Christmas" />
  </div>
  <div class="form-group">
    <label for="book-description">Comments:</label>
    <textarea class="form-input" id="book-description" name="book-description" placeholder="This was good with hot chocolate!"></textarea>

  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary">Create</button>
  </div>
</form>
</div>
</section>


{{#if books.length}}
<div class="col-md-6 post-list">
  <h3>Bookshelf:</h3>

  {{#each book as |book|}}
  <div class="row mb-2">
    <div class="col-md-8">
      <h4><a href="/all-books/{{book.user_id}}">{{book.book_title}}</a></h4>
    </div>
    <button class="btn btn-sm btn-danger"><a href="/edit/{{book.id}}">EDIT</a></button>
    <div class="col-md-4">
      <button class="btn btn-sm btn-danger" id="data-id {{book.id}}">DELETE</button>
    </div>
  </div>
  {{/each}}
</div>
{{/if}}
</div>

  {{#if loggedIn}}
  <section class="flex-row justify-center">
   <p>{{drinks.subject}}</p>
  </section>
</section>

<!-- Otherwise, provide a link to login -->
{{else}}
<a href="/login">You must login first to view this page</a>
{{/if}}

 

<script src="/js/newBook.js"></script>
<script src="/js/profile.js"></script>
<script src = "/js/index.js"></script>
<script src = "/js/login.js"></script>



