<head>
  <link rel="stylesheet" href="/css/style.css">
  <title>Novel Sips | Drink Recommendations</title>
</head>

<body>

  <h2 class="recpgtitle">Your Recommendation:</h2>

  <div class="recommendationcard" align="center">
    {{!-- book title, author, and img --}}
    <section class="bookreccard">
      <div class="booktitle">{{book.title}}</div>
      <div class="bookauthor">{{book.author}}</div>
      <div class="bookimg">{{book.image}}</div>
    </section>

    {{!-- drink name, description, and img --}}
    <section class="drinkreccard">
      <div class="drinktitlecard">{{drink.name}}</div>
      <div class="drinkdescriptioncard">{{drink.description}}</div>
      <img class="drink-img" src="/images/{{drink.filename}}">
    </section>

  </div>

</body>

<script src="/js/index.js"></script>