<head>
  <link rel="stylesheet" href="/css/style.css">
  <title>Novel Sips | Drink Recommendations</title>
</head>

<body>

  <div class="recommendationcard" align="center">

    <div class="reccard" align="center">
      <div class="booktitle">{{book.title}}</div>
    </div>

    <div class="reccard" align="center">
      <div class="bookauthor">{{book.author}}</div>
    </div>

    <div class="reccard" align="center">
      <div class="bookimg">{{book.image}}</div>
    </div>

    <div class="reccard" align="center">
      <div class="cardtitle">{{drink.name}}</div>
    </div>

    <div class="reccard" align="center">
      <div class="card">{{drink.description}}</div>
    </div>

    <div class="imgcontainer">
      <img class="drinkimg" src="/images/{{drink.filename}}">
    </div>

  </div>
</body>



    
  {{!--
</div>
<div>
  {{!-- <h1>{{book.title}}</h1>
  <h1>{{book.author}}</h1>
  <h1>{{book.image}}</h1>

  <h1>{{drink.name}}</h1>
  <h1>{{drink.description}}</h1> --}}
  {{!-- <img src='/images/{{drink.filename}}'>

</div> --}}



<script src="/js/index.js"></script>